extends layouts/default

block content
  for powerplant in powerplants
    include partials/powerplant

  .ui.text.container
    form.ui.form(action="/powerplants", method="post")
      .field
        label Motor
        select(name="motor_id")
          for motor in motors
            option(value=motor.slug) #{motor.make} #{motor.model} (#{motor.kv})
      .field
        label Propeller
        select(name="propeller_id")
          for prop in propellers
            option(value=prop.slug) #{prop.make} #{prop.model}

      b TODO: Upload powerplant test data
      button.ui.right.floated.primary.submit.button Create
        i.icon.right.chevron

    br(style="clear:both;")
